<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/DataTables")*@
    <link href="~/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/assets")*@
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/assets/css/table-responsive.css" rel="stylesheet" />
    <link href="~/Content/assets/css/to-do.css" rel="stylesheet" />
    <link href="~/Content/assets/js/gritter/css/jquery.gritter.css" rel="stylesheet" />
    @*@Styles.Render("~/Dashboard/css")*@
    <link href="~/Content/DashboardStyle/CloseImage.css" rel="stylesheet" />

    <script src="~/Content/assets/js/chart-master/Chart.js"></script>

    @*<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->*@
</head>

<body>
    <section id="container">
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href='@Url.Action("Index", new { area="Admin", controller="Dashboard"})' class="logo"><b>Elboro Admin</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                        <span class="from">Zac Snider</span>
                                        <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                        <span class="from">Divya Manian</span>
                                        <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                        Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                        <span class="from">Dan Rogers</span>
                                        <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                        <span class="from">Dj Sherman</span>
                                        <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">Manage <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="dropdown-header">Admin</li>
                            <li>@Html.ActionLink("Manage Users", "Index", "UsersAdmin")</li>
                            <li>@Html.ActionLink("Manage Roles", "Index", "RolesAdmin")</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">Manager</li>
                            <li>@Html.ActionLink("Manage Customers", "Index", "Customers")</li>
                            <li>@Html.ActionLink("Manage Orders", "Index", "Order")</li>
                            <li>@Html.ActionLink("Manage Products", "Index", "Product")</li>
                            <li>@Html.ActionLink("Manage Categories", "Index", "Category")</li>
                            <li>@Html.ActionLink("Manage SubCategories", "Index", "SubCategory")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", new { area = "", controller = "Store"})">Go to frontend <i class="glyphicon glyphicon-share-alt"></i></a>
                    </li>

                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>           
            @Html.Partial("_LoginAdminPartial")           
        </header>
        <!--header end-->
        
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <li class="centered"><a href='@Url.Action("Index", new { area ="Admin" ,controller="Dashboard"})'>
                        <img src="~/Images/home/ELBORO.png" class="img-circle" width="60"></a></li>
                    <li><h5 class="centered">@User.Identity.Name</h5></li>

                    <li class="mt">
                        <a class="active" href='@Url.Action("Index", new { area ="Admin" ,controller="Dashboard"})'>
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-desktop"></i>
                            <span>Manage Products</span>
                        </a>
                        <ul class="sub">
                            <li><a href='@Url.Action("Index", new { area="Admin", controller="Category"})'>Categories</a></li>
                            <li><a href='@Url.Action("Index", new { area="Admin", controller="SubCategory"})'>Subcategories</a></li>
                            <li><a href='@Url.Action("Index", new { area="Admin", controller="Product"})'>Product</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-th"></i>
                            <span>Manage Orders</span>
                        </a>
                        <ul class="sub">
                            <li><a href='@Url.Action("Index", new { area="Admin", controller= "Order"})'>Orders</a></li>
                            <li><a href='@Url.Action("ShippedOrders", new { area="Admin", controller="Order"})'>Shipped Orders</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>Manage Users</span>
                        </a>
                        <ul class="sub">
                            <li><a href='@Url.Action("Index", new { area="Admin", controller="UsersAdmin"})'>Users</a></li>
                            <li><a href='@Url.Action("Index", new { area = "Admin", controller = "RolesAdmin"})'>Roles</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>Customers</span>
                        </a>
                        <ul class="sub">
                            <li><a href='@Url.Action("Index", new { area="Admin", controller="Customers"})'>Customers</a></li>
                            <li><a href="form_component.html">Customers online</a></li>
                            <li><a href="form_component.html">Customers VIP</a></li>
                            <li><a href="form_component.html">NoAutonticate Customers</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">

                <div class="col-sm-12 main-chart">
                    <div class="container-fluid" id="myParentContainer">

                        <div class="row-fluid" id="mycontentrow">

                            @RenderBody()
                        </div>
                    </div>
                </div><!-- /col-lg-9 END SECTION MIDDLE -->
                <!-- **********************************************************************************************************************************************************
                RIGHT SIDEBAR CONTENT
                *********************************************************************************************************************************************************** -->

                @*<div class="col-sm-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
                    @{ Html.RenderPartial("Notifications");}

                    <!-- USERS ONLINE SECTION -->
                    @{ Html.RenderPartial("TeamMembers");}

                    <!-- CALENDAR-->
                    @{ Html.RenderPartial("Calendar");}
                </div><!-- /col-lg-3 -->*@
            </section>
        </section>

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                <p>&copy; @DateTime.Now.Year - Elboro Store</p>
                <a href='@Url.Action("Index", new { area="Admin", controller="Dashboard"})' class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/assets")
    @Scripts.Render("~/bundles/assets2")

    @RenderSection("scripts", required: false)
</body>
</html>
