<!-- left, vertical navbar -->
@using ASPNETIdentityWithOnion.Web.Extensions

    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @Html.MenuItem("Manage Users", "Index", "Home")
        @Html.MenuItem("Manage Clients", "Index", "Dashboard")
        @Html.MenuItem("Manage Products", "Index", "Category")
        @Html.MenuItem("Manage Orders", "Index", "Statistics")
        @Html.MenuItem("Calendar", "Index", "Forms")
        @Html.MenuItem("Statistic", "Index", "Tables")
        <li>
            @Html.MenuItem("Inbox", "Index", "Interface")
            <ul>
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">731</span> Orders</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">812</span> Invoices</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">27</span> Clients</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">1,234</span> Users</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">2,221</span> Messages</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">11</span> Reports</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">83</span> Errors</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">4,231</span> Logs</a>
        </li>
    </ul>