@using System.Configuration
@using ASPNETIdentityWithOnion.Web.Models
@model ProductStoreViewModel
    
    
        @*<div class="col-sm-3">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="@Url.Content(ConfigurationManager.AppSettings["picPath"]
                                     .ToString() + "/Product/" + Model.Path)" alt="" />
                        <h2>$@Model.Price</h2>
                        <p>@Model.Name</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
        </div>*@
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a class="product-img-link text-center" href="@Url.Action("ProductDetails","Product", new { id = Model.ProductID})">
                                <img class="img-responsive center-block" src="@Url.Content(ConfigurationManager.AppSettings["picPath"]
                                     .ToString() + "/Product/" + Model.Path)" alt="" />
                                </a>
                                <h2>$@Model.Price</h2>
                                <p>@Html.ActionLink(@Model.Name, "ProductDetails", new { id = Model.ProductID }, new { @class = "product-name" })</p>

                                <a class="btn btn-default add-to-cart" data-id="@Model.ProductID" onclick="AddToCart(this)">
                                    <i class="fa fa-shopping-cart"></i>Add to cart
                                </a>
                                <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"
                                   class="btn btn-success go-to-cart" id="go_to_cart-@Model.ProductID" title="Cart">
                                    <i class="fa fa-check"></i>Cart
                                </a>
</div>
                        <!--
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>$@Model.Price</h2>
                                <p>@Html.ActionLink(@Model.Name, "ProductDetails", new { id = Model.ProductID }, new { @class = "product-name" })</p>

                                <a href="#" class="btn btn-default add-to-cart" data-id="@Model.ProductID" onclick="AddToCart(this)">
                                <i class="fa fa-shopping-cart"></i>Add to cart</a>
                                <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"
                                   class="btn btn-success go-to-cart" id="go_to_cart-@Model.ProductID" title="Cart">
                                    <i class="fa fa-check"></i>Cart
                                </a>
                            </div>
                        </div>
                            -->
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                        </ul>
                    </div>
                </div>
            </div>