@using System.Configuration
@using ASPNETIdentityWithOnion.Web.Models
@model IEnumerable<ProductStoreViewModel>


@for (int i = 0; i < Model.Count() / 3; i++)
{
    <div class="item">
        @if (i == 0)
        {
            foreach (var item in Model.Take(3))
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img class="group list-group-image" src="@Url.Content(ConfigurationManager.AppSettings["picPath"]
                                     .ToString() + "/Product/" + item.Path)" alt="" />
                                <h2>$@item.Price</h2>
                                <p>@Html.ActionLink(@item.Name, "ProductDetails", new { id = item.ProductID }, new { @class = "product-name" })</p>
                                <a href="#" class="btn btn-default add-to-cart" data-id="@item.ProductID" onclick="AddToCart(this)">
                                <i class="fa fa-shopping-cart"></i>Add to cart</a>
                                <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"
                                   class="btn btn-success go-to-cart" id="go_to_cart-@item.ProductID" title="Cart">
                                    <i class="fa fa-check"></i>Cart
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            foreach (var item in Model.Skip(3 * i).Take(3))
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img class="group list-group-image" src="@Url.Content(ConfigurationManager.AppSettings["picPath"]
                                     .ToString() + "/Product/" + item.Path)" alt="" />
                                <h2>$@item.Price</h2>
                                <p>@Html.ActionLink(@item.Name, "ProductDetails", new { id = item.ProductID }, new { @class = "product-name" })</p>
                                <a href="#" class="btn btn-default add-to-cart" data-id="@item.ProductID" onclick="AddToCart(this)">
                                    <i class="fa fa-shopping-cart"></i>Add to cart
                                </a>
                                <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"
                                   class="btn btn-success go-to-cart" id="go_to_cart-@item.ProductID" title="Cart">
                                    <i class="fa fa-check"></i>Cart
                                </a>                            </div>

                        </div>
                    </div>
                </div>
            }
        }

    </div>
        
}

