@using System.Configuration
@using ASPNETIdentityWithOnion.Web.Models
@model ProductStoreViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product-details">
    <!--product-details-->
    <div class="row">
        
        <div id="gallery" class="col-sm-5">
           
                <div class="slider slider-for">
                    @for (int i = 0; i < Model.Images.Count; i++)
                    {
                        <div class="view-product">
                            <img src="@Model.Images[i]" />
                        </div>
                    }
                </div>
                <div class="slider slider-nav">
                    @for (int i = 0; i < Model.Images.Count; i++)
            {
                        <div class="semilar-product">
                            <img class="img-responsive center-block" src="@Model.Images[i]" alt="@Model.Name" />
                        </div>
                    }
                </div>

                <div class="btn-toolbar form-btn-circle">
                    <div class="btn-group btn-group-justified">
                        <div class="btn btn-default"><i class="fa fa-envelope"></i></div>
                        <div class="btn btn-default"><i class="fa fa-print"></i></div>
                        <div class="btn btn-default"><i class="fa fa-search-plus"></i></div>
                        <div class="btn btn-default"><i class="fa fa-star"></i></div>
                        <div class="btn btn-default"><i class="fa fa-thumbs-up"></i></div>
                        <div class="btn btn-default"><i class="fa fa-thumbs-down"></i></div>
                    </div>
                </div>
       
           
        </div>
        <div class="col-sm-7">
            <div class="product-information-mobile">
                <!--Product Information mobile-->
                @Html.HiddenFor(p => p.ProductID)
                <table class="table table-responsive table-infomation">
                    <tr class="">
                        <td colspan="2" class="text-center"><h2>@Model.Name</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="pull-right badge-price" id="product-price"> $@Model.Price</span></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>
                                <b>Rating:</b> <img src="~/Images/product-details/rating.png" alt="" />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="group-controls product-quantity">
                            <label class="details-label">Quantity:</label>

                            <a class="" id="minus" onclick="minus()">
                                <i class="fa fa-minus"></i>
                            </a>
                            <input class="input-mini input-count" name="count" disabled="disabled" id="count_item" type="text" value="1" />
                            <a class="" id="plus" onclick="plus()">
                                <i class="fa fa-plus"></i>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-fefault cart pull-right add-to-cart" id="add_to_cart" onclick="AddToCart(this)">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                            </button>
                            <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"
                               class="btn btn-success go-to-cart" id="go_to_cart-@Model.ProductID" title="Cart">
                                <i class="fa fa-check"></i>Cart
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><p><b>Availability:</b> In Stock</p></td>
                        <td>
                            @if (Request.IsAuthenticated)
                            {
                                <a href='@Url.Action("AddressAndPayment", "Checkout")' class="btn btn-default checkout pull-right" id="checkout_btn">
                                    <i class="fa fa-dollar"></i>
                                    Check Out
                                </a>

                            }
                            else
                            {
                                <a href='#checkout_modal' data-toggle="modal" id="ifCheck" class="btn btn-default checkout pull-right">Check Out</a>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td><p><b>Brand:</b> ELBORO</p></td>
                    </tr>
                    <tr>
                        <td><p><b>Web ID:</b> 1089772</p></td>
                    </tr>
                </table>
            </div><!--/product-information mobile-->



        </div>
    </div>
    

    </div><!--/product-details---------------------------------------------------------------------------------->
<div class="category-tab shop-details-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-justified nav-tabs">
            <li><a href="#description" data-toggle="tab">Description</a></li>
            <li><a href="#specifications" data-toggle="tab">Specifications</a></li>
            <li><a href="#whats_included" data-toggle="tab">What's Included</a></li>
            <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade" id="description">
            <h1>Description body</h1>
        </div>

        <div class="tab-pane fade" id="specifications">
            <h1>Table specifications</h1>
        </div>

        <div class="tab-pane fade" id="whats_included">
            <h1>Table whot included</h1>
        </div>

        <div class="tab-pane fade active in" id="reviews">
            <div class="col-sm-12">
                <ul>
                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p><b>Write Your Review</b></p>

                <form action="#">
                    <span>
                        <input type="text" placeholder="Your Name" />
                        <input type="email" placeholder="Email Address" />
                    </span>
                    <textarea name=""></textarea>
                    <b>Rating: </b>
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                            <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                            <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                            <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                            <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default pull-right">
                        Submit
                    </button>
                </form>
            </div>
        </div>

    </div>
</div><!--/category-tab-->



