@using Forloop.HtmlHelpers
@using MvcSiteMapProvider.Web.Html
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/EShope/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/EShope/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/EShope/animate.css" rel="stylesheet" />
    <link href="~/Content/EShope/responsive.css" rel="stylesheet" />
    <link href="~/Content/EShope/main.css" rel="stylesheet" />
    <link href="~/Content/EShope/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/EShope/price-range.css" rel="stylesheet" />
    @Styles.Render("~/Content/Theme/base/css")
    @Styles.Render("~/Content/lightbox")
    @Styles.Render("~/Content/slick")
    <link href="~/Content/StoreStyle/Breadcramb.css" rel="stylesheet" />
    <link href="~/Content/StoreStyle/SearchMenu.css" rel="stylesheet" />
    <link href="~/Content/StoreStyle/CategoryMenu.css" rel="stylesheet" />
    <link href="~/Content/StoreStyle/CategoryViewIndex.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <![endif]-->

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        Html.RenderPartial("LoginModal");
    }

     <!--HEADER SECTION-->
    <header id="header">
        @Html.Partial("~/Views/Shared/Partial/_Header.cshtml")
    </header>
    <!--END HEADER SECTION-->
    
        <div class="breadcrumb breadcrumb-store">
            @Html.MvcSiteMap().SiteMapPath()
        </div>
        <br />
        <br />
    <!--BODY SECTION-->
        <section>
            <div class="container">
                <div class="row">

                    <!--LEFT MENU-->
                    <div id="sidebar" class="col-sm-3 hidden-xs">
                        @{Html.RenderAction("LeftMenu", new { area = "", controller = "Store" });}
                    </div>
                    <!--END LEFT MENU-->

                    <!--CONTENT-->
                    <div class="col-sm-9">
                        @RenderBody()
                    </div>
                    <!--END CONTENT-->
                </div>
            </div>
        </section>
    <!--END BODY SECTION-->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Elboro Store</p>

        </footer>

        <div class="modal fade" id="AddToCartModal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content mod-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Your product was added to the cart!</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer mod-footer">
                        <button type="button" class="btn btn-default continue-shoping" data-dismiss="modal">Continue Shipping</button>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })">Go to Cart</a>
                    </div>
                </div>
            </div>

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/ajax")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/slick")
        @Scripts.Render("~/bundles/lightbox")
        @Scripts.Render("~/bundles/jquerymigrate")

        @*@Scripts.Render("~/bundles/Scriptaculous")*@
        <script src="~/Scripts/jquery.jfMagnify.js"></script>
        <script src="~/Scripts/accounting.js"></script>
        <script src="~/Scripts/EShopper/price-range.js"></script>
        <script src="~/Scripts/EShopper/main.js"></script>
        @Scripts.Render("~/bundles/SiteScripts")
        <script src="~/Scripts/EShopper/jquery.scrollUp.min.js"></script>
        @RenderSection("scripts", required: false)
        @Html.RenderScripts()

</body>
</html>
