@model IEnumerable<ASPNETIdentityWithOnion.Core.DomainModels.Identity.ApplicationRole>

<h2>Roles</h2>

<p>
    @Html.ActionLink("New Role", "Create", null, new { @class = "btn btn-danger btn-group-justified new-item" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                @*@Html.DisplayFor(modelItem => item.Name)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<style>
    .dl-horizontal dt {
        text-align: left;
    }
</style>