@model ASPNETIdentityWithOnion.Web.Areas.Admin.Models.ProductViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}
<h2>Create</h2>
<hr />
<div class="panel panel-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row-fluid">
            <div class="col-sm-5">
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedId, "Category", htmlAttributes: new { @class = "control-label col-sm-3 text-left" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.SelectedId, Model.Categories,
                            new { @class = "form-control" , id = "categoryDDL"})
                            @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SubSelectedId, "Sub Category", htmlAttributes: new { @class = "control-label col-sm-3 text-left" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.SubSelectedId, Model.SubCategories,
                             new { @class = "form-control", id = "subCategoryDDL" })
                            @Html.ValidationMessageFor(model => model.SubSelectedId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-3 text-left" })
                        @Html.HiddenFor(model => model.ProductID)
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "nameProd" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-sm-3 text-left" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LongDescription, htmlAttributes: new { @class = "control-label col-sm-3 text-left" })
                        <div class="col-sm-9">
                            @Html.HiddenFor(model=>model.Path, new { id = "imageList" })
                            @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-sm-3 text-left" })
                        <div class="col-sm-9">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="submit" value="Create" class="btn btn-primary" style="border-radius: 150px;" />
                            <button type="button" id="loadImg" class="btn btn-success">
                                <i class="fa fa-photo fa-align-left"></i> Add
                            </button>
                            <div hidden><input type="file" name="upload" id="file" class="img-faile" /></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-7 imagePlacePic" id="placePic">
            </div>
        </div>



    }
</div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        @section scripts{
            <script type="text/javascript">

                var global = window || this;
                var lastIndex = 0;

                //multiselect dropdownlist...
                $(document).ready(function () {
                    $('#categoryDDL').change();
                });

                $(document).ready(function () {
                    $('#categoryDDL').change(function () {
                        var catId = $('#categoryDDL option:selected').val();
                        $.ajax({
                            type: 'GET',
                            data: { id: catId },
                            url: '@Url.Action("SelectSubCat", "Product")',
                            success: function (data) {
                                var items = [];
                                $.each(data, function () {
                                    items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                                });
                                $("#subCategoryDDL").html(items.join(' '));
                            }
                        });
                    });
                });

                //load images
                $('#loadImg').on("click", function () {
                    $('.img-faile')[0].click();
                });

                $('#file').on('change', function Send() {
                    var files = this.files;
                    if (files.length > 0) {
                        if (window.FormData != undefined) {
                            var imgData = new FormData();
                            var imagePath = $('#imageList').val();
                            imgData.append("file", files[0]);
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("CreateImage", "Product")',
                                contentType: false,
                                processData: false,
                                data: imgData,
                                success: function (data) {
                                    var newPlace = $('div.imagePlacePic');
                                    newPlace.append('<div class="col-sm-6 show-place" id="imagePlace' + (global.lastIndex + 1) + '">' +
                                    '<div class="content clossable">' + '<div class="close" id="toDel' + (global.lastIndex + 1) + '" style="opacity: 0;"></div>'
                                    + '<a href="#" class="thumbnail file-open imgref" id="imgbox' + (global.lastIndex + 1) + '">' +
                                    '<img class="imgPic" id="imgid' + (global.lastIndex + 1) + '" width="140" height="180" alt="' + (global.lastIndex + 1) + '">' +
                                    '</a></div></div>');

                                    //$("div[id^=toDel" + (global.lastIndex + 1) + "]:hover").css('background-image', 'url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII="');
                                    //$("div[id^=toDel" + (global.lastIndex + 1) + "]:focus").css('background-image', 'url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII="');
                                    //$('.content:after').css('content','\A');
                                    //$('.content:after').css('position','absolute');
                                    //$('.content:after').css('width','100%');
                                    //$('.content:after').css('height','100%');
                                    //$('.content:after').css('top','0');
                                    //$('.content:after').css('left','0');
                                    //$('.content:after').css('background','rgba(0,0,0,0.6)');
                                    //$('.content:after').css('opacity','0');
                                    //$('.content:after').css('transition', 'all 0.5s');
                                    //$('.content:after').css('-webkit-transition', 'all 0.5s');
                                    $("img[id^=imgid" + (global.lastIndex + 1) + "]").attr('src', '/Images/Product/' + data[0]);

                                    imagePath += data[0] + ",";
                                    global.lastIndex++;

                                    $('#imageList').val(imagePath);
                                },
                                error: function (xhr, status, p3) {
                                    alert(xhr.responseText);
                                }
                            });
                        }
                        else {
                            console.log("The browser does not support Html5!");
                        }
                    }
                    else {
                        console.log("Path to the file is not installed!");
                    }
                });
            </script>


        }
