@using System.Configuration
@model ASPNETIdentityWithOnion.Web.Areas.Admin.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}
<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<div class="row">
    <div class="col-sm-6">
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LongDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubCategoryName)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new {  id = Model.ProductID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div class="col-sm-6 imagePlacePic" id="placePic">
        @if (Model.Images != null)
        {
            foreach (string item in Model.Images)
            {
                <div class="col-sm-6 show-place">
                    <div class="content clossable">
                        <div class="close"></div>
                        <a href="#" class="thumbnail file-open imgref">
                            <img class="imgPic" src='@Url.Content(ConfigurationManager.AppSettings["picPath"].ToString()
                             + "/Product/" + item)' alt="0">
                        </a>

                    </div>
                </div>
            }
        }
    </div>   
</div>
<style>
    .dl-horizontal dt{
        text-align:left !important;
    }
</style>
@section scripts{
    <script type="text/javascript">
        //Show Images
        //$(document).ready(function () {

        //    var divs = $('div.show-place');
        //    var divs_a = $('div a.imgref');
        //    var divs_a_img = $('img.imgPic');
        //    var divs_close = $('div.close');
        //    for (var i = 0; i < divs.length; i++) {
        //        divs.get(i).setAttribute('id', 'imagePlace' + i);
        //        divs_a.get(i).setAttribute('id', 'imgbox' + i);
        //        divs_a_img.get(i).setAttribute('id', 'imgid' + i);
        //        divs_close.get(i).setAttribute('id', 'toDel' + i);
        //        $("div[id^=imagePlace" + i + "]").removeClass('hidden');
        //        global.lastIndex = i;
        //    }
        //});
    </script>
    } 